<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="clientSection"     type="Calculator.Configuration.ClientConfigurationSection,Calculator.Module"/>
		<section name="calculatorSection" type="Calculator.Configuration.CalculatorConfigurationSection,Calculator.Module"/>
	</configSections>

	<clientSection baseAddress="https://api.frankfurter.app" />

	<calculatorSection amount="1" selectedSource="USD" selectedTarget="EUR" />

</configuration>